/* //Header */
.header{
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;
    align-items: center
}

/* PromptCard */
.prompt-card-container{
    border-radius: 10px;
    border: 1px solid black; 
    width: 70%; 
    height: auto; 
    margin: 10px; 
}
.prompt-card-title-holder{

}
.prompt-card-title{
    padding: 2px;
    font-size: 25px;
}
.prompt-card-content-holder{
    padding: 2px;
}
.continue-link{
    display: flex; 
    justify-content: flex-end; 
}

/* Prompt Create */

.prompt-create-edit-container{
    display: flex; 
    flex-direction: column; 
}

.create-input{
    margin: 10px;
    width: 50%; 
}

.create-textarea{
    margin: 10px; 
    width: 70%; 
}

.create-button{
    width:30%; 
    margin: 10px; 
}