.about-header{
    padding: 10px;
    display: flex; 
    flex-direction: row;
    justify-content: center;  
}
.about-content{
    padding: 10px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column; 
}